**/__pycache__/
**/*.egg-info/
**/results/*
**/data/*
experiments/results/
data/
results/
*.egg-info/
*.ipynb
*.csv
*.npy
*.png
*.jpg
!example_data.csv
experiments/example*
experiments/scenario*
experiments/*.RData
experiments/*.Rhistory
deprecated/